services:
  # Service 1: The FastAPI Backend
  - type: web
    name: conversavoice-backend
    env: docker
    region: oregon
    plan: free # Or "starter" for more performance
    dockerfilePath: ./backend/Dockerfile
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.11
      - key: GROQ_API_KEY
        sync: false # Set this in the Render dashboard
      - key: AZURE_SPEECH_KEY
        sync: false # Set this in the Render dashboard
      - key: AZURE_SPEECH_REGION
        sync: false # Set this in the Render dashboard
      - key: REDIS_HOST
        value: red-d68scf4r85hc73d1fgkg
      - key: REDIS_PORT
        value: "6379"
      - key: STT_BACKEND
        value: groq

  # Service 2: The Streamlit Frontend
  - type: web
    name: conversavoice-frontend
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./frontend/Dockerfile
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.11
      - key: BACKEND_API_URL
        value: https://conversavoice-backend.onrender.com
